@using Project_OnlineBookStore.Models;
@model Project_OnlineBookStore.Models.Orders


@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Add To Card</h1>

<h4></h4>
@Html.Raw(ViewBag.OrderPlaced)

@using (Html.BeginForm(@Model))
{
   @* <p>@Model.BName</p>*@
    <div>
        <div class="form-group">
            <input type="hidden" name="id" value="@Model.BId" />

            <h5 id="scrollspyHeading1">Book Name: @Model.BName</h5>

            <h5 id="scrollspyHeading2">Book Price: @Html.DisplayFor(model => model.BPrice)</h5>

            <h5 id="scrollspyHeading2">Book Quntity: @Html.DisplayFor(model => model.Ouantity)</h5>

            <h5 id="scrollspyHeading2">Total Amount: @Html.DisplayFor(model => model.TotalBill)</h5>



            <input type="submit" value="Placed Order" class="btn btn-warning" />
        </div>
    </div>
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
