@model Project_OnlineBookStore.Models.Book
@{ ViewData["Title"] = "Create";}

<h1>Create order</h1>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.BName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.BName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.BInfo)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.BInfo)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.BPrice)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.BPrice)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.BAuthor)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.BAuthor)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.image)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.image)
    </dd>
    <dt class="col-sm-2">

        @Html.DisplayNameFor(model => model.CatId)
    </dt>
    <dd class="col-sm-10">

        @Html.DisplayFor(model => model.CatId)
    </dd>
</dl>

<h4>Orders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="BId" value=@Model.BId/>
            <div class="form-group">
                <label asp-for="BId" class="control-label"></label>
                <input asp-for="BId" class="form-control" />
                <span asp-validation-for="BId" class="text-danger"></span>
            </div>

           
            <div class="form-group">
                <label  class="control-label">Quantity</label>
                <input name="Ouantity" class="form-control" />
         
            </div>
            
            <div class="form-group">
                <input type="submit" value="Buy" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

